#Pantalla{
    height: 100vmax;
    width: 100%;
    background-color: rgb(172, 208, 241);

    display: flex;
    flex-direction: column;   /*Todo en formato columna*/
    align-items: center;
}

#BarraSuperior{
    height: 10%;
    width: 80%;
    background-color: white;
    border-radius: 25px;
    margin-top: 3%;
    position: fixed;

    display: flex;
    align-items: center;
}

#Logo{
    height: 80%;
    width: 15%;
}

#Logo img{
    height: 100%;
}

#Texto{
    height:30%;
    width: 80%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Presentacion{
    height: 40%;
    width: 50%;
    color: rgb(253, 114, 0);
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Subpresentacion{
    height: 30%;
    width: 40%;
    color: rgb(255, 136, 40);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#Botones{
    height: 15%;
    width: 80%; 
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#BotonLogin{
    height: 50%;
    width: 12%;
    margin-right: 10%;
    background-color: white;
    border: 2px solid black;
    border-radius: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#BotonRegistro{
    height: 50%;
    width: 12%;
    background-color: rgb(253, 114, 0);
    border: 2px solid black;
    border-radius: 15%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}

#Fotos{
    height: 20%;
    width: 60%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#Imagen1{
    height: 80%;
    width: 30%;
    background-color: rgb(253, 114, 0);
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagen1{
    
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#Imagen2{
    height: 80%;
    width: 30%;
    background-color:white ;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagen2 img{
    height: 80%;
    width: 95%;
    border-radius: 25px;
}

#Faq{
    height: 40%;
    width: 100%;
    background-color: rgb(253, 114, 0);
    margin-top: 10%;
}

#Titulo{
    height: 20%;
    width: 80%;
    margin-left: 10%;
    font-size: 250%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid black;

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#Faqs{
    height: 80%;
    width: 80%;
    margin-left: 10%;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.MenuPregunta{
    height: 33%;
    width: 100%;
    border-bottom: 1px dotted;
}

.Preguntas{
    height: 50%;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Respuestas{
    height: 50%;
    width: 100%;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Faqboton{
    height: 50%;
    width: 3%;
    margin-left: 80%;
    border-radius: 50%;
    border: 1px solid black;
    background-color: transparent;
    display: none;
}


.Preguntas:hover .Faqboton{
    display: block;
}
